.exportAllResults{
  display: flex;
  position: absolute;
  right: 10%;
  top: 15%;
}
.exportAllResults img{
  cursor: pointer;
  height: 30px;
  margin: 5px;
  width: 30px;
}
.exportAllResults button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.exportAllResults .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.exportAllResults .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.exportAllResults:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}