.changePassword h1{
    color:#444448;
    font-family: 'Segoe UI Semibold';
    font-size: 60px;
    right: 250px;
    top: 40px;
    position: absolute;
}
.changePasswordLine p{
    background: #444448;
    content: "";
    display: inline-block;
    height: 1px;
    margin-bottom: 5px;
    position: absolute;
    right: 210px;
    top: 185px;
    width: 630px;
  }
    
   