.containerChangePassword{
    left: 93px;
    display: block;
    height: 550px;
    top: 240px;
    position: absolute;
    width: 580px;
}
.invalidDataChangePasswordProfessor{
    color: red;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
    margin: 0;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
}
.emailChangePassword,
.oldPassword,
.newPassword,
.confirmNewPassword{
    height: 100px;
    position: relative;
    top: 55px;
    width: 580px;
}
.emailChangePassword label,
.oldPassword label,
.newPassword label,
.confirmNewPassword label{
    color:#373739;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
}
.emailChangePassword input,
.oldPassword input,
.newPassword input,
.confirmNewPassword input{
    border-radius: 20px;
    border: none;
    float: right;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
    height: 50px;
    outline: none;
    padding-left: 20px;
    width: 310;
}
.emailChangePassword input::placeholder,
.oldPassword input::placeholder,
.newPassword input::placeholder,
.confirmNewPassword input::placeholder{
    color: #cacaca;;
    font-family: 'Segoe UI Semibold';
}
.changePasswordButton{
    height: 70px;
    padding-left: 120px;
    position: relative;
    top: 90px;
    width: 290px;
}
.borderErrorChangePasswordProfessor{
    box-shadow: 0px 0px 2px 2px red;
}
.changePasswordButton button{
    background-color: #545871;
    border: none;
    border-radius: 30px;
    color: #e6e4e4;
    font-family: 'Segoe UI';
    font-size: 24px;
    height: 65px;
    outline: none;
    transition: .3s ease-in-out;
    width: 290px;
}
.changePasswordButton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}