.questionsForFeedbackBackButtonForStudent{
    bottom: 3%;
    height: 70px;
    left: 40%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 290px;
}
.questionsForFeedbackBackButtonForStudent button{
    background-color: #F7ECEB;
    border-color: #545871;
    border-radius: 30px;
    color: #545871;
    font-family: 'Segoe UI';
    font-size: 24px;
    height: 65px;
    outline: none;
    transition: .3s ease-in-out;
    width: 290px;
}
.questionsForFeedbackBackButtonForStudent button:hover{
    cursor: pointer;
    transform: scale(1.1);
}