.changePasswordAlertPositiveContainer{
	background-color: white;
	border-radius: 40px;
	box-shadow: 0px 0px 15px 0px black;
	height: 180px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}
.changePasswordAlertPositiveContainer p{
	color: #46c431;
	font-family: 'Segoe UI semibold';
	font-size: 24px;
	text-align: center;
}
.changePasswordAlertPositiveContainer button{
	background-color: #545871;
	border: none;
	border-radius: 30px;
	color: #e6e4e4;
	left: 50%;
	font-family: 'Segoe UI';
	font-size: 24px;
	height: 50px;
	outline: none;
	position: absolute;
	padding: 0;
	top: 55%;
	transform: translate(-50%, 0);
	transition: .3s ease-in-out;
	width: 90px;
}
.changePasswordAlertPositiveContainer button:hover{
	cursor: pointer;
	transform: translate(-50%, 0) scale(1.1);
}